@model StudentListViewModel

@{
	ViewData["Title"] = "Student list";
}

@if (Model.Students != null && Model.Students.Count() > 0)
{
	<table id="productsTable" class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Bith Date</th>
				<th>Added by</th>
				@if (User.IsInRole("Professor"))
				{
					<th>Actions</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var student in Model.Students)
			{
				<tr>
					<td>@student.Name</td>
					<td>@student.Surname</td>
					<td>@student.Email</td>
					<td>@student.BornDate</td>
					<td>@student.User.FirstName @student.User.LastName</td>
					@if (User.IsInRole("Professor"))
					{
						<td>
							<button class="btn btn-sm btn-warning" onclick="showEditModal('@student.Id')">Edit</button>
							<button class="btn btn-sm btn-danger" onclick="showDeleteModal('@student.Id')">Delete</button>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p class="text-danger">No students found!</p>
}
